body{
    background-color: #eee;
    font-family: 'Jacques Francois';

}

hr{
    background-color: black;
     border: 1px solid gray; 
     width: 75%; 
     margin-left: auto;
      margin-right: auto;
}

.class:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 

}

.box{
    width: 50%; 
    border-radius: 30px;

}
  .box:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

